.App {
  text-align: center;
}
.taskListItem{
  display: flex;
  align-items: center;
}
.taskListItemHide{
  display: none;
}
.taskContent{
  margin: 10px;
}
.taskContent--linethrough{
  margin: 10px;
  text-decoration: line-through;
}
.taskToggleDone__button{
  width: 30px;
  height: 30px;
  background-color: #fff;
}
